<h1>Привет от Rails!</h1>
<p>
	Сейчас <%= @time %>
	<p>сказать <%= link_to "до свидание", say_goodbye_path %> !</p>
	<span>Складываю и получаю: <%= 1+2 %></span><br/>
	<span>Объединяю: <%= "Просто"+" "+"так" %></span>
</p>